<!DOCTYPE html>
<html lang ="en" ng-app="tabWranglerApp" ng-csp>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/angular/angular-csp.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"/>
    <!--<link rel="stylesheet" href="css/popup.css" type="text/css"/>-->
    <style>
      body {
        width: 700px;
      }
    </style>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angularjs-indexedDB/src/indexeddb.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body class="container">


    <a target="_blank" href="https://chrome.google.com/webstore/detail/egnjhciaieeiiohknchakcodbpgjnchh/reviews" id="reviewButton" class="btn btn-mini"> 
      <i class="icon-star"></i> Review Tab Wrangler
    </a>

    <button class="btn btn-sm" ng-init="paused=false" ng-class="{true: 'btn-default', false: 'btn-primary'}[paused]" ng-click="paused = !paused">
      <i class="glyphicon" ng-class="{true: 'glyphicon-play', false: 'glyphicon-pause'}[paused]"></i>
      {{(paused ? 'Resume' : 'Pause')}}
    </button>

    <tabset>
    <tab heading="Tab Corral" ng-controller="corralCtrl">
    <form>
      <input type="text" class="form-control" placeholder="search" ng-model="search.url">
    </form>
    <table id="corralTable" class="table-condensed table-striped table table-bordered">
      <thead>
        <tr>
          <!-- TODO: replace inline style with bootstrap responsive column class -->
          <th class="narrowColumn" style="width: 20px;"><i class="icon-remove"></i></th>
          <th>Title</th>
          <th>Closed</th>
        </tr>
        <tr ng-repeat="tab in corral | filter:search"><td class="faviconCol"><span class="faviconContent"><img class="favicon" src="{{tab.favIconUrl}}" /></span></td><td>{{tab.url}}</td><td>{{tab.id}}</td></tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="autocloseMessage" class="alert alert-info">If tabs are closed automatically, they will be stored here</div>
    <div class="clearCorralMessage alert alert-info"><a class="clearCorralLink" href="#">Clear list</a></div>
    </tab>

    <tab heading="Tab Lock">
    <div class="alert alert-info">Click the checkbox to lock the tab (prevent it from auto-closing).</div>
    <table id="activeTabs" class="table-striped table table-bordered">
      <thead>
        <tr>
          <th class="narrowColumn"><img src="img/lock.png"/></th>
          <th class="narrowColumn"></th>
          <th>Tab</th>
          <th class="countdownColumn">Closing in</th>
        </tr>
        <!-- TODO: remove comment? -->
        <!-- Class is a total kludge to keep popup=lock working -->
        <tbody>

        </tbody>
      </table>
    </div>
    </tab>

    <tab heading="Options" ng-controller="settingsCtrl">
    <form>
      <fieldset>
        <legend>Settings</legend>

        <div class="form-group">
          <label for="minutesInactive">Close inactive tabs after</label>
          <div class="input-group">
            <input type="text" id="minutesInactive" class="form-control" ng-model="tab.minutesInactive">
            <span class="input-group-addon">minutes</span>
          </div>
        </div>

        <div class="form-group">
          <label for="minTabs">Don't auto-close if the window has only</label>
          <div class="input-group">
            <input type="text" id="minTabs" class="form-control" ng-model="tab.min">
            <span class="input-group-addon">open tabs</span>
          </div>
          <span class="help-block">(does not include pinned or locked tabs)</span>
        </div>

        <div class="form-group">
          <label for="showBadgeCount">Remember up to</label>
          <div class="input-group">
            <input type="text" id="maxTabs" class="form-control" ng-model="tab.max">
            <span class="input-group-addon">closed tabs</span>
          </div>
        </div>

        <div class="checkbox">
          <label for="purgeClosedTabs">
            <input type="checkbox" id="purgeClosedTabs" ng-model="tab.purgeClosedTabs">
            Clear closed tabs list on quit
          </label>
        </div>

        <div class="checkbox">
          <label for="showBadgeCount">
            <input type="checkbox" id="showBadgeCount" ng-model="tab.showBadgeCount">
            Show # of closed tabs in url bar
          </label>
        </div>

      </fieldset>
      <!-- TODO: remove div? -->
      <div id="status" class="alert alert-success" style="visibility:hidden;"></div>

      <fieldset>
        <legend>Auto-Lock</legend>
        <div class="form-group">
          <label for="wl-add">Tabs with urls "like":</label>
          <div class="input-group">
            <input type="text" id="wl-add" class="form-control" placeholder="chrome.*://">
            <span class="input-group-btn">
              <button class="btn btn-default" id="addToWL" disabled>Add</button>
            </span>
          </div>
        </div>

        <table class="table table-bordered table-striped" id="whitelist">
          <thead>
            <th>
              Url pattern
            </th>
            <th>

            </th>
          </thead>
          <tbody>
          </tbody>
        </table>
        <span class="help-block">
          Example: <i>cnn</i> would match every page on cnn.com and any URL with cnn anywhere in url.
        </span>
      </fieldset>
    </form>
    </tab>
    </tabset>
  </body>
</html>
